.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.content-container {
  width: 100%;
  max-width: 600px;
}
