.accordion {
}

.accordion-section {
}

.accordion-section__title {
  padding: var(--spacingSmall);
  background-color: var(--colorYellowTransparent);
  margin-bottom: var(--spacingSmall);
  border-radius: 5px;
  color: var(--colorBlack);
}

.accordion-section__title::after {
  content: "▼";
  float: right;
  font-size: var(--fontSizeSmall);
}

.accordion-section__title:hover {
  cursor: pointer;
}

.accordion-section__content {
  min-height: 0px;
  height: 0px;
  overflow: hidden;
  transition: 0.3s;
}

.accordion-section__content--open {
  padding-bottom: var(--spacingSmall);
  min-height: 300px;
  height: max-content;
}
