.burger-menu {
  display: flex;
  justify-content: flex-end;
  flex-basis: 15%;
  margin-top: var(--spacingMedium);
  transition: 0.3s;
}

@media only screen and (min-width: 1025px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu__burger {
  display: block;
  width: 35px;
  height: 22px;
  float: right;
  z-index: 999;
}

.burger-menu__burger:hover {
  cursor: pointer;
}

.burger-menu__burger span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  padding: 0;
  margin-bottom: 7px;
  background-color: var(--colorYellow);
}

.burger-menu__navigation {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 800px;
  padding-left: var(--spacingMedium);
  background-color: var(--colorBlackTransparent);
  z-index: 99;
}
