.header-content-space {
  /* To make everything stay in place when sticky-class is added*/
  display: block;
  width: 100%;
  height: 120px;
}
.header-wrapper {
  display: block;
  width: 100%;
  height: 120px;
}
.header {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  min-height: 120px;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.header__headline {
  flex-basis: 85%;
  font-size: var(--fontSizeMedium);
  transition: 0.3s;
}
.header--sticky {
  position: fixed;
  margin: 0 auto;
  top: 0;
  background: linear-gradient(to bottom, var(--colorBlack), transparent);
}

.header--sticky .header__headline {
  font-size: var(--fontSizeMedium);
}

.header--sticky .burger-menu {
  justify-content: center;
}

@media only screen and (min-width: 1025px) {
  .header {
    justify-content: flex-start;
    flex-basis: 80%;
    margin-top: var(--spacingMedium);
  }
  .header__headline {
    margin: var(--spacingMedium) 0px var(--spacingLarge) 0px;
    font-size: var(--fontSizeXL);
    flex-basis: 100%;
  }
  .header--sticky .header__headline {
    font-size: var(--fontSizeLarge);
  }
}
