@media only screen and (min-width: 1025px) {
  .c-main-nav-wrapper {
    display: flex;
  }
}
@media only screen and (max-width: 1024px) {
  .c-main-nav-wrapper {
    display: none;
  }
}

.burger-menu .c-main-nav {
  min-width: 400px;
}
.burger-menu .c-main-nav-wrapper {
  display: flex;
}

.burger-menu .c-main-nav {
  top: 0;
}
.c-main-nav {
  position: absolute;
  left: 0;
  top: 100px;
  color: var(--colorYellow);
  list-style: none;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right, var(--colorBlack), transparent);
  width: 50px;
}
.c-main-nav:hover {
  width: 700px;
}

.c-main-nav__item a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 60px;
  border-bottom: none;
  padding-left: 0;
}

.c-main-nav__item--link {
  color: var(--colorYellow);
  text-decoration: none;
  margin: var(--spacingSmall);
  padding-top: var(--spacingSmall);
  transition: 0.2s;
}

.c-main-nav__item--link:visited {
  color: var(--colorYellow);
}

.c-main-nav__icon {
  width: 44px;
  margin: 5px 15px 5px 5px;
  transition: 0.2s;
}

.c-main-nav__item--link:hover {
  font-size: var(--fontSizeMedium);
  cursor: pointer;
}
.c-main-nav__item--link:hover .c-main-nav__icon {
  width: 58px;
  margin: 0px 10px 0px 0px;
}

.c-main-nav__icon:hover::after {
  content: "";
}
