.c-text-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: auto;
  font-size: var(--fontSizeSmall);
}

@media only screen and (min-width: 768px) {
  .c-text-box {
    border-radius: 5px;
  }
}

.c-text-box p {
  padding: var(--spacingLarge);
}

.c-text-box--blue {
  background-color: var(--colorBlueTransparent);
  color: var(--colorWhite);
}

.c-text-box--blue a {
  color: var(--colorBlack);
  border-bottom: 1px dashed var(--colorBlack);
  transition: 0.5s;
}

.c-text-box--blue a:hover {
  border-bottom: 1px solid var(--colorBlack);
}

.c-text-box--black {
  background-color: var(--colorBlack);
  color: var(--colorWhite);
}

.c-text-box--black a {
  color: var(--colorYellow);
  border-bottom: 1px dashed var(--colorYellow);
  transition: 0.5s;
}
