.todays-asteroid-wrapper {
  display: block;
  max-width: 600px;
  margin-bottom: var(--spacingSmall);
}

@media only screen and (min-width: 768px) {
  .todays-asteroid-wrapper {
    border-radius: 5px;
  }
}

.todays-asteroid-wrapper--blue {
  background-color: var(--colorBlueTransparent);
  padding: var(--spacingMedium);
}

.todays-asteroid-wrapper--blue .todays-asteroid__details {
  color: var(--colorBlack);
}

.todays-asteroid-wrapper--transparent {
  background-color: transparent;
}

.todays-asteroid-wrapper--transparent .todays-asteroid__details {
  color: var(--colorBlue);
}

.todays-asteroid a {
  color: var(--colorBlack);
  border-bottom: 1px dashed var(--colorBlack);
  transition: 0.5s;
}

.todays-asteroid a:hover {
  border-bottom: 1px solid var(--colorBlack);
}

.todays-asteroid__data {
  display: block;
  font-family: var(--bodyFont);
  font-size: var(--fontSizeMedium);
  color: var(--colorWhite);
}

.todays-asteroid__details {
  list-style: none;
  color: var(--colorBlue);
  padding: 0;
  margin: 0;
}

.todays-asteroid__details li {
  padding: var(--spacingSmall);
}
