html {
  background-color: var(--colorBlack);
  color: var(--colorYellow);
  font-size: var(--fontSizeRoot);
  font-family: var(--bodyFont);
}

header {
  display: flex; 
  width: 100%; 
  justify-content: center; 
  align-items: center; 
}