

h1,h2 {
  font-family: var(--headerFont);
}
h1 {
  color: var(--colorYellow);
  font-size: var(--fontSizeXL);
}

h2{
  font-size: var(--fontSizeLarge);
  color: var(--colorBlue);
}

h3 {
  font-size: var(--fontSizeMedium);
}