h1 {
  font-family: var(--headerFont);
  color: var(--colorYellow);
  font-size: var(--fontSizeXL);
}

h2 {
  font-size: var(--fontSizeMedium);
  color: var(--colorBlue);
}

h3 {
  font-size: var(--fontSizeMedium);
}
