@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

:root {
  /* Fonts */
  --headerFont: "Major Mono Display", monospace;
  --bodyFont: "Inconsolata", monospace;

  /* Font Sizes */
  --fontSizeRootMobile: 16px;
  --fontSizeRoot: 20px;
  --fontSizeSmall: 0.8rem;
  --fontSizeMedium: 1.2rem;
  --fontSizeLarge: 1.5rem;
  --fontSizeXL: 2rem;

  /* Colors */

  --colorBlack: #000;
  --colorBlackTransparent: rgba(0, 0, 0, 0.9);
  --colorWhite: #eee;
  --colorYellow: #ffef00;
  --colorYellowTransparent: rgba(255, 239, 0, 0.7);
  --colorBlue: #2b7f99;
  --colorBlueTransparent: rgba(43, 127, 153, 0.7);

  /* Spacing */

  --spacingSmall: 10px;
  --spacingMedium: 20px;
  --spacingLarge: 30px;
  --spacingXLarge: 40px;

  /* Screen sizes */

  --tabletWidth: 1024px;
  --desktopWidth: 1280px;
}
